<h1>Major List</h1>
<hr>

<button onclick="location.href='{% url 'student:insert' %}'">입력</button>
<hr>

<table border='1'>
<tr>
<td>전공번호</td><td>전공명</td><td>수정</td><td>삭제</td>
</tr>
{% for major in major_list %}
<tr>
<td><a href="{% url 'student:detail' major.major_id %}">{{major.major_id}}</a></td>
<td>{{major.major_title}}</td>
<td><button onclick="location.href='{% url 'student:update' major.major_id %}'">수정</button></td>
<td><button onclick="location.href='{% url 'student:del' major.major_id %}'">삭제</button></td>
</tr>
{% endfor %}
</table>