<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
$(function(){
    $('#btn').click(function(){
       $.ajax({
           url : '/student/searchStudent/',
           dataType : 'html',
           type : 'POST',
           data : {'major': $('#search').val()},
           success : function(result){
               alert(result)
               $('#here').html(result)
           } 
       })
    });
});
</script>

<a href="{% url 'student:index' %}">Main</a>

<h1>Student List</h1>

<button onclick="location.href='{% url 'student:std_new' %}'">입력</button>
<hr>

<input type='text' id='search'/>
<button id='btn'>검색</button>
<hr>

{% comment %} <form method="POST" enctype="multipart/form-data">
    <input type="radio" name="file" value="major"/>Major
    <input type="radio" name="file" value="student" checked/>Student
    <br>
    <input type="file" name="upload">
    <input type="submit" value="Save">
</form> {% endcomment %}
<button onclick="location.href='{% url 'student:db_student' %}'">DB삽입</button>
<button onclick="location.href='{% url 'student:db_del_student' %}'">DB삭제</button>
<hr>

<div id='here'>
<table border='1'>
<tr>
<td>학생번호</td>
<td>이름</td>
<td>전공</td>
<td>전화번호</td>
<td>주소</td>
<td>취미</td>
<td>기술</td>
<td>수정</td>
<td>삭제</td>
</tr>
{% for std in student_list %}
<tr>
<td><a href="{% url 'student:std_detail' std.studentID %}">{{std.studentID}}</a></td>
<td>{{std.name}}</td>
<td>{{std.major}}</td>
<td>{{std.phone}}</td>
<td>{{std.address}}</td>
<td>{{std.hobby}}</td>
<td>{{std.skill}}</td>
<td><button onclick="location.href='{% url 'student:std_update' std.studentID %}'">수정</button></td>
<td><button onclick="location.href='{% url 'student:std_del' std.studentID %}'">삭제</button></td>
</tr>
{% endfor %}
</table>
</div>